<!DOCTYPE html>
<html>
	<head>
		<title>Recipes</title>
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="views/client.js"></script>
	</head>

	<body>
		<form action="/">
			<button id="home">Home</button> 
		</form>   
		<button id="login">Login</button>
		<button id="logout">Logout</button>
		<p id="loginResults"></p> 
	<!-- ----------------LANDING PAGE--------------------------- -->
	<!-- ------------------------------------------- -->
		<div>
			<input id="username" type="text" placeholder="username">
			<input id="password" type="text" placeholder="password">
			<br><br>
		</div>
		<div>
			<button id="getTimestamp">Get Timestamp</button> 
			<button id="stayCool">Stay Cool</button>
			<button id="beCool">Be Cool</button>
			<p id="timestampResults"></p>
		</div>
		<div id="status"></div>
		* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
		<br><br> 
		<form method ="get" action="/displayAllChefs">
			<button id="displayAllChefs">Display all chefs.</button>
		</form> 
		
		<h1>* Welcome to HANDY HELPER *</h1>
		<p>Save and share recipes!</p>
		<p>Divide or double your recipes in a Snap!!</p>   	 
		
		<form method ="get" action="/displayAllRecipes">
			<button id="displayAllRecipes">Display all recipes.</button>
		</form> 
	
		<br>
		* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
	<div>
		<!-- <form method ="get" action="/doubleRecipe">
			<button id="doubleRecipe">Double recipe.</button>
		</form> 
		<form method ="get" action="/divideRecipe">
			<button id="divideRecipe">Divide recipe.</button>
		</form> 		 -->
		<ul>
			<%
			recipeRows.forEach( rr => {
				%>
				<li>Recipe: <%=rr.title%> <br>  Servings = <%=rr.servings%>    <br>  Recipe Notes: <%=rr.recipenotes%>
					<br>  Instructions: <%=rr.instructions%><br>
					<button id="ingredients">See ingredients.</button> 
					<button id="double">Double</button>
					<button id="divide">Divide</button> 
					<p id="resultsStatus"></p><br>
				</li>
				<%
				})
			%>
		</ul>
		
	</div>
</body>
</html>
