<!DOCTYPE html>
<html>
	<head>
		<title>Landing1</title>
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="views/client.js"></script>
	</head>

	<body>
		<br>
		<form action="/">
			<button id="home">Home</button> 
			<div id="clientResults"></div> 
		</form> 
		<br>
		
<!-- ----------------LOGIN VV --------------------------- -->		
		<form action="#" method="POST" id="logIn">
			<label for="name ">Name:</label><br>
			<input type="text" id="name" name="name"><br> 
			<label for="password ">Password:</label><br>
			<input type="text" id="password" name="password"><br><br>

			<!-- LOGIN -->
			<input type="button" name="submit_form" id="btn_submit" value="Log In" onclick="submitUser()">

			<!-- NEW USER -->
			<input type="button" name="newPerson_form" id="newPerson_submit" value="Sign Me Up!" onclick="newUser()">  
		</form> 
		<br>

<!-- ----------------LOGIN ^^ --------------------------- -->


		<!-- <button id="login">Login</button>
		<button id="logout">Logout</button>
		<p id="loginResults"></p> -->
	<!-- ----------------LANDING PAGE--------------------------- -->
	<!-- ------------------------------------------- -->
		<!-- <div>
			<input id="username" type="text" placeholder="username">
			<input id="password" type="text" placeholder="password">
			<br><br>
		</div>  -->
		<!-- <div>
			<button id="getTimestamp">Get Timestamp</button> 
			<button id="stayCool">Stay Cool</button> -->
			<!-- <form action="https://weather.com/weather/tenday/l/789e30ea403dfe3285815bef19260340931c248557a988e96d1eeff46238728a/">
				<button id="stayCool" type="submit">Stay Cool</button>
			 </form> -->

			<!-- <button id="beCool">Be Cool</button>
			<p id="timestampResults"></p> -->
		<!-- </div> --> 
		<div id="status"></div>
		<br>
		* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
		<br><br> 
		<h1>* HANDY HELPER *</h1>
		<p>Save and share recipes!</p>
		<p>Divide or double your recipes in a Snap!!</p> 
		<br>
		* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
</body>
</html>
