<!DOCTYPE html>
<html>
	<head>
		<title>Landing</title>
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- <script src="test.js"></script> -->
	</head>

<body>
	<form action="/">
        <button id="home">Home</button> 
    </form>   
	<button id="login">Login</button>
	<button id="logout">Logout</button>
	<p id="loginResults"></p> 
<!-- ----------------LOGIN--------------------------- -->
<!-- ------------------------------------------- -->
	<div>
		<input id="username" type="text" placeholder="username">
		<input id="password" type="text" placeholder="password">
		<br><br>
	</div>

	<div>
		<button id="getTimestamp">Get Timestamp</button> 
		<button id="stayCool">Stay Cool</button>
		<button id="beCool">Be Cool</button>
		<p id="timestampResults"></p>
	</div>
	<div id="status"></div>

	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

	<br><br>  
    <button id="searchAllChefs">Search all chefs.</button>
    <button id="addNewRecipe">Add recipe.</button>

    <h1>* Welcome to HANDY HELPER *</h1>
    <p>Save and share recipes!</p>
    <p>Divide or double your recipes in a Snap!!</p>    
    
    <button id="searchAllRecipes">Search all recipes.</button>     
    <button id="searchRecipeID">Get recipe by id.</button>     
    <button id="divideRecipe">Divide recipe.</button>     
    <button id="doubleRecipe">Double recipe.</button>
    <br><br>

	<div>
		<p>recipeRows   = <%=recipeRows%> </p>
	</div>
</body>
</html>
<!-- GET LOGIN FUNCTION------------------------------------------- -->
<script>
	$("#login").click(function(){
		var username = $("#username").val();		
		var password = $("#password").val();
		var params = { username: username, password: password };
		console.log(params);
		$('#loginResults').text("Successfully logged in.");
	})
</script>
<!-- ----------------GET TIMESTAMP FUNCTION--------------------------- -->
<!-- ------------------------------------------- -->
<script>
	$("#getTimestamp").click(function () {
		console.log("Hit servertime");
		var time = new Date();		 
		//var result = text(event.timestamp);	  
		$("#status").text(time);
		console.log(time); 
		})
</script>

<!-- ----------------LOGOUT--------------------------- -->
<!-- ------------------------------------------- -->
<script>
	$("#logout").click(function () {
		console.log("Hit logout");		
		// $('#loginResults').text("");
		$('#loginResults').text("Successfully logged out.");
		})
</script>