<!DOCTYPE html>
<html>
<head>
	<title>Recipes</title>

<!-- <script src="scriptures-clientside.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
	<h1>Search the Recipes</h1>

	<!-- <input type="text" id="cook" placeholder="Cook"> <button onclick="searchByCooki()">Search by Cook</button><br>
	<input type="text" id="recipe" placeholder="Recipe"> <button onclick="searchByRecipe()">Search by Recipe</button><br> -->

	<div>
		<h2>Results</h2>
		<!-- <ul id="ulResults"> -->
		</ul>
	</div>

</body>
</html>